# Compiled Files #
##########################
*.o
*.output
lextest
parsetest

# autogened C files #
##########################
y.tab.*
LexicalAnalyzer/lex.yy.*

# Temp Filese #
##########################
*~

