# Compiled Files #
##########################
*.o
*.output
lextest
parsetest
parsetest_display
*.tar
*.s
tiger

# autogened C files #
##########################
y.tab.*
LexicalAnalyzer/lex.yy.*

# Temp Filese #
##########################
*~

